@{
	ViewData["Title"] = "Redirection Page";
}
<h1>@ViewData["Title"]</h1>

<p>This is the second time (or more) when you selected this page.</p>
<p>The cookie was already created; as authorization was done, the Authorize() action method will not execute</p>
<p>Therefore, no redirection to the Movies page.</p>